body {
    margin: 0px;
}

.table {
    background-color: lime;
    height: 500px;
    width: 75vw;
    border: 6px solid black;
    border-radius: 10px;
    padding: 10px;
    
}

.player {
    margin: 20px;
}

.dealer {
    margin: 20px;
}


.player-name {
    display: block;
    font-weight: bold;
    font-size: 20px;
       
}

.hand {
    height: 150px;
    background-color: darkGreen;
}

.buttons {
    display: flex;
    justify-content: center;
}

.hand-image {
    height: 95%;
    width: auto;
    padding: 5px;
}

.message-box {
    display: flex;
    margin-top: 30px;
    background-color: rgb(139, 1, 1);
    height: 50px;
    width: 75vw;
    color: white;
    justify-content: center;
}
